<% if comp.icon %>
  <div class="material-icons mdl-badge--overlap mdl-badge <%= comp.css_class.join(' ') %>" data-badge="<%= comp.badge %>">
    <%= comp.icon %>
  </div>
<% else %>
  <span class="mdl-badge <%= comp.css_class.join(' ') %>" data-badge="<%= comp.badge %>"><%=expand_text(comp.text)%></span>
<% end %>
