<%
  placement_classes = []
  placement_classes << 'v-header--fixed mdc-top-app-bar--fixed' if eq(comp.placement,:fixed)
  placement_classes << 'v-header--static' if eq(comp.placement, :static)
%>
<header class="v-header mdc-top-app-bar <%= placement_classes.join(' ') %> drawer-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title <%= 'v-actionable' if comp.title&.events %>"
            <%= partial "components/event", :locals => {comp: comp, events: comp.title&.events, parent_id: comp.title&.event_parent_id} %>
            <%= partial 'components/shared/test_id', locals: {comp: comp} %>>
        <%= expand_text(comp.title&.text, markdown: comp.title&.markdown) %>
      </span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <% if comp.nav %>
        <nav class="v-navigation">
          <% comp.nav.items.each do |item| %>
            <a id="<%= item.id %>"
               class="mdc-list-item <%= 'mdc-list-item--activated' if item.selected %>"
               href="javascript:void(0)"
               tabindex="0"
               aria-selected="true"
               <%= partial "components/event", :locals => {comp: item, events: item.events, parent_id: item.event_parent_id} %>>
              <%= partial "components/icon", :locals => {comp: item.icon, class_name: 'mdc-list-item__graphic'} %>
              <%= item.text %>
            </a>
          <% end %>
        </nav>
      <% end %>
      <% if comp.button %>
        <%= partial "components/button", :locals => {comp: comp.button, parent_id: comp.id} %>
      <% end %>
    </section>
  </div>
</header>
