<% target = "_#{comp.target}" %>
<a href="<%= comp.url %>"
   id="<%= comp.id %>"
   target="<%= target %>"
   class="<%= comp.css_class.join(' ') %>"
   <%= partial "components/event", locals: {comp: comp, events: comp.events, parent_id: comp.parent_id} if comp.events&.any? %>>
  <%= comp.text %>
</a>
