<%
  base_url = @pom.page&.base_url || '/'
%>
<!doctype html>
<html class="no-js incompatible-browser" lang="en">
<head>
  <base href="<%= base_url %>">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= @pom.page.title if @pom.page %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if @pom.page&.theme_color %>
    <meta name="theme-color" content="<%= @pom.page.theme_color %>">
  <% end %>
  <%= coprl_headers %>
  <%= html_safe(@pom&.page&.header) %>
</head>
<body class="mdc-typography">
    <% with_presenters_wrapper do %>
      <%= yield %>
    <% end %>
<noscript><p>JavaScript must be enabled to continue.</p></noscript>
</body>
</html>
