<%
  devices = %i[desktop tablet phone]
  span_classes = "mdc-layout-grid__cell--span-#{comp.size}"
  devices.each do |device|
    span_classes << " mdc-layout-grid__cell--span-#{comp.send(device)}-#{device}" if comp.send(device)
  end
%>
<div id="<%= comp.id %>"
     class="v-column v-column--relative mdc-layout-grid__cell
     <%= span_classes %>
     <%= comp.overflow ? nil : 'v-column-hide-overflow' %>
     <%= padding_classes(comp.padding) %>
     <%= column_direction_class(comp.direction) %>
     <%= column_align_class(comp.align) %>
     <%= column_justify_class(comp.justify) %>
     <%= comp.css_class.join(' ') %>"
     style="<%= "background-color: #{comp.color};" if comp.color %><%= "height:#{comp.height};" if comp.height %>"
  <%= partial "components/event", locals: {comp: comp, events: comp.events, parent_id: comp.event_parent_id} if comp.events&.any? %>>
  <%= partial("components/progress", locals: {comp: comp.progress}) if comp.progress && includes_one?(Array(comp.progress.position), %i(top both))%>
  <%= partial "components/render", locals: {components: comp.components, scope: nil} if comp.components.any? %>
  <%= partial("components/progress", locals: {comp: comp.progress}) if comp.progress && includes_one?(Array(comp.progress.position), %i(bottom both))%>
</div>
